body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.navbar{
    width:100%;
    height: 10%;
    background-color: cornflowerblue;
    display: flex;
}

#hamb{
    visibility: hidden;
}

.yellow{
    width: 50%;
    height: 100%;
    padding-top: 30px;
    padding-left: 30px;
}


.others{
    width:50%;
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}



.home{
    width:16%;
}

.gal{
    width: 16%;
} 

.contact{
    width: 16%;
}

.next{
    width:16%;
}


a{
    text-decoration: none;
}

.box{
    margin-bottom:10px; 
    background-color: white;
    width:20%; 
    height:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.box > a{
    color:black;
}

#new{
    width: 100%;
    height: 30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    visibility: hidden;
}


@media screen and (max-width:640px){
    .others{
        visibility:hidden;
    }
    #menu{
        visibility: hidden;
    }
    #hamb{
        visibility: visible;
    }
}

@media screen and (min-width:700px){
    .box{
        visibility: hidden;
    }
    #new{
        display: none;
    }
}