#slika{
    margin-top: 50px;
    display:flex;
    justify-content: center;
}

.error-description{
    display:flex;
    justify-content: center;
    background-color: rgb(216, 234, 245);
    margin-top: 12em;
    margin-left: 13em;
    margin-right: 20em;
}

.a{
    font-size: 2em;
}

.b{
    align-self:end;
    margin-bottom: 2em;
    margin-left:10px;
}

.home-s{
    display:flex;
    justify-content: center;
    margin-top: 3px;
    background: rgb(250, 226, 226);
    margin-left: 13em;
    margin-right: 20em;
}

a{
    text-decoration: none;
}